* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000000;
  color: #f8eedf;
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* Sidebar 1 starts here */

.sidebar-1 {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 60px;
  background: #000000;
  z-index: 100;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #f8eedf;
  transition: width 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  overflow: hidden;
}

.sidebar-1:hover {
  width: 300px;
}

.side-link-1 {
  flex: 1;
  display: flex;
  align-items: center;
  padding-left: 60px;
  text-decoration: none;
  position: relative;
  transform-style: preserve-3d;
  transition: background 0.5s ease;
}

.side-label-1 {
  color: #f8eedf;
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 10px;
  text-transform: uppercase;
  opacity: 0;
  transform: rotateY(-90deg) translateX(-50px);
  transform-origin: left;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  white-space: nowrap;
}

.sidebar-1:hover .side-label-1 {
  opacity: 0.2;
  transform: rotateY(0deg) translateX(0);
}

.side-link-1::after {
  content: "";
  position: absolute;
  left: 20px;
  width: 20px;
  height: 1px;
  background: #f7c67e;
  transition: width 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}

.side-link-1:hover .side-label-1 {
  opacity: 1;
  letter-spacing: 15px;
  color: #f8eedf;
}

.side-link-1:hover::after {
  width: 30px;
}

/* Sidebar 2 starts here */

.sidebar-2 {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  width: 60px;
  background: #000000;
  z-index: 100;
  display: flex;
  flex-direction: column;
  border-left: 1px solid #f8eedf;
  transition: width 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  overflow: hidden;
}

.sidebar-2:hover {
  width: 300px;
}

.side-link-2 {
  flex: 1;
  display: flex;
  align-items: center;
  padding-right: 45px;
  text-decoration: none;
  position: relative;
  transform-style: preserve-3d;
  transition: background 0.5s ease;
  justify-content: flex-end;
}

.side-label-2 {
  color: #f8eedf;
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 10px;
  text-transform: uppercase;
  opacity: 0;
  transform: rotateY(90deg) translateX(50px);
  transform-origin: right;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  white-space: nowrap;
}

.sidebar-2:hover .side-label-2 {
  opacity: 0.2;
  transform: rotateY(0deg) translateX(0);
}

.side-link-2::after {
  content: "";
  position: absolute;
  right: 20px;
  width: 20px;
  height: 1px;
  background: #f7c67e;
  transition: width 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}

.side-link-2:hover .side-label-2 {
  opacity: 1;
  letter-spacing: 15px;
  color: #f8eedf;
}

.side-link-2:hover::after {
  width: 30px;
}

/* Page one starts here */

.page-1 {
  width: 100%;
  position: relative;
  height: 100vh;
  display: grid;
  padding: 20px;
  grid-template-columns: repeat(17, 1fr);
  grid-template-rows: repeat(8, 1fr);
  gap: 1rem;
}

/* Page one animation */

.page-1 {
  transition: transform 1.2s cubic-bezier(0.2, 0, 0, 1);
}

[class^="container-"] {
  transition: all 1s cubic-bezier(0.2, 0, 0, 1);
  border: 1px solid transparent;
}

nav:has(.sidebar-1:hover) ~ .page-1 {
  transform: translateX(50px);
}

nav:has(.sidebar-2:hover) ~ .page-1 {
  transform: translateX(-50px);
}

/* Box 1 starts here */

.container-1 {
  grid-area: 1/2/3/6;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0f0f0f;
}

/* Box 2 starts here */

.container-2 {
  grid-area: 1/6/3/13;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0f0f0f;
}

.profile-photo {
  width: 180px;
  height: 180px;
  min-width: 180px;
  display: flex;
  justify-content: center;
  margin: 0px 40px 0px 20px;
}

.profile-polock {
  width: 100%;
  height: 100%;
  border: 3px solid #f7c67e;
  border-radius: 50%;
  object-fit: cover;
}

.information {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.name {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1;
  text-align: center;
}

.job {
  font-size: 1.3rem;
  line-height: 3;
  color: #f7c67e;
}

.email {
  font-size: 1rem;
  line-height: 1;
  color: #f7c67e;
}

/* Box 3 starts here */

.container-3 {
  grid-area: 1/13/3/17;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0f0f0f;
}

/* Box 4 starts here */

.container-4 {
  grid-area: 3/2/5/7;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0f0f0f;
}

/* Box 5 starts here */

.container-5 {
  grid-area: 3/7/5/12;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0f0f0f;
}

/* Box 6 starts here */

.container-6 {
  grid-area: 3/12/5/17;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0f0f0f;
}

/* Box 7 starts here */

.container-7 {
  grid-area: 5/2/7/5;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0f0f0f;
}

/* Box 8 starts here */

.container-8 {
  grid-area: 5/5/7/8;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0f0f0f;
}

/* Box 9 starts here */

.container-9 {
  grid-area: 5/8/7/11;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0f0f0f;
}

/* Box 10 starts here */

.container-10 {
  grid-area: 5/11/7/14;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0f0f0f;
}

/* Box 11 starts here */

.container-11 {
  grid-area: 5/14/7/17;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0f0f0f;
}

/* Box 12 starts here */

.container-12 {
  grid-area: 5/11/7/14;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0f0f0f;
}

/* Box 13 starts here */

.container-13 {
  grid-area: 7/2/9/9;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0f0f0f;
}
/* Box 14 starts here */
.container-14 {
  grid-area: 7/9/9/13;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0f0f0f;
}
/* Box 15 starts here */

.container-12 {
  grid-area: 7/13/9/17;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0f0f0f;
}
